<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <!--<a class="navbar-brand" href="/App-Elevator/">Start</a>-->
        <a class="navbar-brand" href="/App-Elevator/lista-autor/">Authors</a>
        <a class="navbar-brand" href="/App-Elevator/lista-productor/">Producers</a>
        <a class="navbar-brand" href="/App-Elevator/lista-productora/">Film Production</a>
        <a class="navbar-brand" href="/App-Elevator/lista-proyecto/">Projects</a>
        <a class="btn btn-primary" href="/App-Elevator/formulario-proyecto/">Proyects Forms</a>
        <a class="btn btn-primary" href="/App-Elevator/formulario-autores/">Authors Forms</a>
        <a class="btn btn-primary" href="/App-Elevator/formulario-productores/">Producers Forms</a>
        <a class="btn btn-primary" href="/App-Elevator/formulario-productoras/">Film Production Forms</a>
    </div>
</nav>


