<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <!--<a class="navbar-brand" href="/App-Elevator/">Start</a>-->
        <a class="navbar-brand" href="lista-autor">Authors</a>
        <a class="navbar-brand" href="lista-productor"> Producers</a>
        <a class="navbar-brand" href="lista-productora">Film Production</a>
        <a class="navbar-brand" href="lista-proyecto">Projects</a>
        <a class="btn btn-primary" href="formulario-proyecto">Proyects Forms</a>
        <a class="btn btn-primary" href="formulario-autores">Authors Forms</a>
        <a class="btn btn-primary" href="formulario-productores"> Producers Forms</a>
        <a class="btn btn-primary" href="formulario-productoras">Film Production Forms</a>
    </div>
</nav>

